.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 220px;
    border-bottom: 1px solid #E1E2E6;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.profile figure {
    width: 80px;
    height: 80px;
    margin: 0;
    border-radius: 100%;
    overflow: hidden;
}

.profile figure img {
    width: 100%;
    height: 100%;
}

.profile span {
    display: block;
    width: 100%;
    margin: 15px 0;
    text-align: center;
}

.profile a {
    color: #226CFC;
    text-decoration: none;
    padding: 0 0 2px;
    position: relative;
    overflow: hidden;
}

.profile a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    transition: all 0.3s linear 0s;
    background: #226CFC;
}

.profile a:hover:after {
    left: 0;
}
