.mainpage {
    float: left;
    width: 100%;
    height: 100%;
}

.topBar {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px 50px;
    border-bottom: 2px solid #F6F6F7;
}

.title {
    float: left;
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    margin: 0;
}

.topBar div {
    float: right;
    position: relative;
}

.topBar span {
    float: right;
    cursor: pointer;
    margin: 5px 0 0;
    padding: 10px;
}

.topBar span i {
    float: left;
    width: 3px;
    height: 3px;
    clear: left;
    margin: 2px 0;
    border-radius: 100%;
    transition: all 0.3s linear 0s;
    background: #646A85;
}

.topBar span:hover i {
    background: #272727;
}

.topBar div ul {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 180px;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    border-radius: 4px;
    background: #F6F6F7;
}

.topBar div:hover ul {
    display: block;
}

.topBar div ul li {
    float: left;
    width: 100%;
    border-bottom: 2px solid #fff;
}

.topBar div ul li:last-child {
    border-bottom: 0;
}

.topBar div ul li a {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #272727;
    padding: 10px 0;
    text-decoration: none;
    transition: all 0.3s linear 0s;
}

.topBar div ul li a:hover {
    color: #226CFC;
}


/*~~~~~~~~~~~~~~~  graph  */

.graph {
    float: left;
    width: 100%;
    margin: 0;
    padding: 50px;
}

.graph img {
    max-width: 100%;
}

.users {
    float: left;
    width: 100%;
    padding: 0 50px 50px;
}

table {
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
}

table tbody tr {
    transition: all 0.3s linear 0s;
}

table tbody tr:hover {
    background: #f7f7f7;
}

table tr th,
table tr td {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 20px 20px 0;
    border: 1px solid #F4F4F6;
    border-right: 0;
    border-left: 0;
    text-align: left;
}

table tr th {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #808080;
}

table tr td:first-child {
    width: 23%;
}

table tr td:nth-child(2) {
    width: 23%;
}

table tr td:nth-child(3),
table tr td:nth-child(4),
table tr td:nth-child(5) {
    width: 18%;
}

table tr td:first-child span {
    margin: 15px 0 0 15px;
}

table tr td:last-child span {
    cursor: pointer;
    padding: 5px;
}

table tr td:last-child span i {
    float: left;
    width: 3px;
    height: 3px;
    clear: left;
    margin: 2px 0;
    border-radius: 100%;
    transition: all 0.3s linear 0s;
    background: #646A85;
}

table tr td:last-child span:hover i {
    background: #272727;
}

table tr td figure {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0;
}

table tr td figure img {
    max-width: 100%;
}

table tr td span {
    float: left;
    cursor: default !important;
}

table tr td p {
    float: left;
    width: 100%;
    color: #808080;
    margin: 10px 0 0;
}

table tr td .btn {
    display: inline-block;
    color: #fff;
    margin: 0;
    padding: 7px 20px;
}

table tr td .btnPaused {
    background: #FFA700;
}

table tr td .btnActive {
    background: #226CFC;
}
